* {
    background-color: blanchedalmond;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

h1 {
    color: #3a2904;
    font-size: 50px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}