/* colors */
/* 18241e
344e41
3a5a40
588157
a3b18a
dad7cd */

body {
    background-color: #3a5a40;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

nav {
    background-color: #18241e;
    color: #dad7cd;
    padding-top: 5px;
}

.nav_container {
    background-color: #18241e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6rem;
    position: fixed;
    width: 100%;
    top: 0;
    opacity: .9;
}

.nav_content {
    width: 100%;
    position: fixed;
}

nav ul {
    list-style-type: none;
    padding: 20px;
}

nav a {
    color: #dad7cd;
    text-decoration: none;
    padding: 0 1.8rem;
}

h1 {
    color: #dad7cd;
    font-size: 50px;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 20px;
    text-shadow: 10px 10px 10px #18241e;   
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.pet_card {
    background-color: #a3b18a;
    border-radius: 10px;
    text-align: center;
    color: #344e41;
    padding: 10px;
    margin: 10px;
    box-shadow: 6px 8px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.pet_card img {
    border-radius: 30px;
    width: 80%;
}