<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submit Fact</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Fact Submission Form</h1>
    <form>
        <label for="fact">Fact:</label>
        <input type="text" name="fact" id="fact">
        <label for="author">Author:</label>
        <input type="text" name="author" id="author">
        <button type="submit">Submit</button>
    </form>
    <a href="/pets">Back to Pets</a>
        
</body>
</html> -->

{% extends "base.html" %}
    {% block title %}Submit Fact{% endblock %}
    {% block content %}
        <h3>Fact Submission Form</h3>
        <form class="form form-control">
            <label for="fact">Fact:</label>
            <input type="text" name="fact" id="fact">
            <label for="author">Author:</label>
            <input type="text" name="author" id="author">
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
        <a href="/pets">Back to Pets</a>
            
    {% endblock %}