<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PetFax</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>PetFax</h1>
    <a href="/facts/new">Submit Your Own Pet Fact</a>
    {% for pet in pets %}
        <h2>{{ pet.pet_name }}</h2>
        <a href='/pets/{{ pet.pet_id }}'>
            <img src="{{ pet.pet_photo }}" alt="{{ pet.pet_name }}">
        </a>
    {% endfor %}
</body>
</html> -->

 {% extends "base.html" %}
    {% block title %}PetFax{% endblock %}
    {% block content %}
        <div class="container">
            {% for pet in pets %}
                <div class="pet_card">
                    <h2>{{ pet.pet_name }}</h2>
                    <a href='/pets/{{ pet.pet_id }}'>
                        <img src="{{ pet.pet_photo }}" alt="{{ pet.pet_name }}">
                    </a>
                </div>
            {% endfor %}
        </div>
    {% endblock %}
    
    
    
    
